<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>Mjr!One Vagrant Environment</title>
        <!-- Bootstrap core CSS -->
        <link href="{{ asset('assets/css/bootstrap-reboot.min.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/css/bootstrap.min.cs') }}s" rel="stylesheet">
        <link href="{{ asset('assets/css/bootstrap-grid.min.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/css/style.css') }}" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
        <style>
{% block style %}{% endblock %}
        </style>
    </head>

    <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
        <a class="navbar-brand" href="{{ path('index') }}"><img src="{{ asset('assets/images/logo.png') }}" style="height: 45px;float: inherit;"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('index') }}">
                        Vagrant Development Environment {{ version }} <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-dark" href="{{ path('users') }}">User List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-dark" href="{{ path('software') }}">Software Package Liste</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-dark" href="{{ path('process_list') }}">Prozess Liste</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://github.com/ChrisWesterfield/devEnvironment/tree/master" target="_blank">Project Page</a>
                </li>
            </ul>
        </div>
    </nav>


    <div class="container-fluid">
        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar">
                <div class="sidebar-sticky">
                    {% set sites=getSites() %}
                    {% if sites.app|length > 0 %}
                        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                            <span>Applications</span>
                        </h6>
                        <ul class="nav flex-column">
                            {% for site in sites.app %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ site.url }}" target="_blank">
                                        {{ site.title }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}

                    {% if sites.admin|length > 0 %}
                        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                            <span>Administration</span>
                        </h6>
                        <ul class="nav flex-column">
                            {% for site in sites.admin %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ site.url }}" target="_blank">
                                        {{ site.title }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}

                    {% if sites.info|length > 0 %}
                        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                            <span>Informations</span>
                        </h6>
                        <ul class="nav flex-column">
                            {% for site in sites.info %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ site.url }}">
                                        {{ site.title }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}

                    {% if sites.stats|length > 0 %}
                        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                            <span>Statistics</span>
                        </h6>
                        <ul class="nav flex-column">
                            {% for site in sites.stats %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ site.url }}" target="_blank">
                                        {{ site.title }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}

                    {% if sites.ext|length > 0 %}
                        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                            <span>external</span>
                        </h6>
                        <ul class="nav flex-column">
                            {% for site in sites.ext %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ site.url }}" target="_blank">
                                        {{ site.title }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}

                    {% if sites.other|length > 0 %}
                        <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                            <span>others</span>
                        </h6>
                        <ul class="nav flex-column">
                            {% for site in sites.other %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ site.url }}" target="_blank">
                                        {{ site.title }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </nav>

            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
                {% block content %}{% endblock %}
            </main>
        </div>
    </div>


    <footer class="blog-footer">

    </footer>

        <div>
            <script src="{{ asset('assets/js/jquery.min.js') }}"></script>
            <script src="{{ asset('assets/js/bootstrap.bundle.min.js') }}"></script>
            <script src="{{ asset('assets/js/bootbox.js') }}"></script>
            <script>
                $(function () {
                    {% block onload %}{% endblock %}
                });
            </script>
        </div>
    </body>
</html>